<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head(page=#{page.authors}, action=#{action.list})"></th:block>
</head>
<body>
	<header th:replace="fragments/header :: header(page=#{page.authors})"></header>
	<main class="container">
		<div class="row">
			<div class="col">
				<th:block th:if="${not #strings.isEmpty(message)}">
					<div class="alert alert-success alert-dismissible fade show col-4 offset-4" role="alert">
						<span th:text="${message}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</th:block>
				<a th:href="@{/author/showForm}" class="btn btn-primary btn-sm mt-2"><i class="far fa-plus-square"> Create</i></a>
				<h3>Authors</h3>
				<table class="table" id="bookTable" style="margin-top: 10px;">
					<thead>
						<tr>
							<th class="bg-secondary">ID</th>
							<th class="bg-secondary">Name</th>
							<th class="bg-secondary">Phone</th>
							<th class="bg-secondary">Email</th>
							<th class="bg-secondary">N.R.C</th>
							<th class="bg-secondary">D.O.B</th>
							<th class="bg-secondary">Address</th>
							<th class="bg-secondary">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a : ${authors}">
							<td th:text="${a.id}"></td>
							<td th:text="${a.name}"></td>
							<td th:text="${a.phone}"></td>
							<td th:text="${a.email}"></td>
							<td th:text="${a.nRC}"></td>
							<td th:text="${#dates.format(a.dateOfBirth, 'dd/MM/yyyy')}"></td>
							<td th:text="${a.address}"></td>
							<td class="text-center" style="width: 1px;">
								<div class="btn-group" role="group" aria-label="Action Buttons">
									<a class="btn btn-info btn-sm" th:href="@{/author/view/{id}(id=${a.id})}"><i class="far fa-eye"></i></a>
									<a class="btn btn-success btn-sm ml-2" th:href="@{/author/edit/{id}(id=${a.id})}"><i class="far fa-edit"></i></a>
									<!-- <a class="btn btn-danger btn-sm ml-2"><i class="far fa-trash-alt"></i></a> -->
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>