.html {
  position: relative;
  min-height: 100%;
}

.body {
  margin-bottom: 70px;
  line-height: 2.5px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: gray;
  text-align: center;
  height: 100%;
  color: white;
  top: 0;
}

body > .container {
  padding: 70px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.bg-side {
    background-color: gray;
}

#bookTable thead th,
#categoryTable thead th{
    color: #fff;
    border-bottom: solid 2px #FF9800;
}

#bookTable tbody th,
#bookTable tbody td,
#categoryTable tbody th,
#categoryTable tbody td{
    border-top: 1px solid #FF9800 !important;
}

.for-navbar {
	height: 70px ! important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}