<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<th:block th:include="fragments/header :: head(page=#{page.home}, action=null)"></th:block>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	
	<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<header th:replace="fragments/header :: header(#{page.home})"></header>
	<main role="main" class="container">
		<h1 class="mt-5" th:text="#{app.name}">Spring Boot JPA One-To-Many App</h1>
	</main>
	<footer th:replace="fragments/footer :: footer"></footer>
	<div th:replace="fragments/footer :: script"></div>
</body>
</html>